Source: commercium
Section: utils
Priority: optional
Maintainer: Jonas Smedegaard <dr@jones.dk>
Uploaders: Micah Anderson <micah@debian.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev | libminiupnpc-dev (>> 1.6),
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://commerciumcore.org/
Vcs-Git: git://github.com/commercium/commercium.git
Vcs-Browser: https://github.com/commercium/commercium

Package: commerciumd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Commercium is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Commercium uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Commercium
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, commerciumd, and the CLI tool
 commercium-cli to interact with the daemon.

Package: commercium-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Commercium is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Commercium uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Commercium
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Commercium-Qt, a GUI for Commercium based on Qt.

Package: commercium-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Commercium is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Commercium uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Commercium
 is the name of the open source software which enables the use of this currency.
 .
 This package provides commercium-tx, a command-line transaction creation
 tool which can be used without a commercium daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
