policy_module(commercium, 1.100.1)

########################################
#
# Declarations
#

type commercium_t;
type commercium_exec_t;
init_daemon_domain(commercium_t, commercium_exec_t)

permissive commercium_t;

type commercium_initrc_exec_t;
init_script_file(commercium_initrc_exec_t)

type commercium_conf_t;
files_type(commercium_conf_t)

type commercium_var_lib_t;
files_type(commercium_var_lib_t)

type commercium_var_run_t;
files_type(commercium_var_run_t)

type commercium_port_t;
corenet_port(commercium_port_t)

########################################
#
# commercium local policy
#
allow commercium_t self:process { fork };

allow commercium_t self:fifo_file rw_fifo_file_perms;
allow commercium_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(commercium_t, commercium_conf_t, commercium_conf_t)
manage_files_pattern(commercium_t, commercium_conf_t, commercium_conf_t)

manage_dirs_pattern(commercium_t, commercium_var_lib_t, commercium_var_lib_t)
manage_files_pattern(commercium_t, commercium_var_lib_t, commercium_var_lib_t)
files_var_lib_filetrans(commercium_t, commercium_var_lib_t, { dir file })

manage_dirs_pattern(commercium_t, commercium_var_run_t, commercium_var_run_t)
manage_files_pattern(commercium_t, commercium_var_run_t, commercium_var_run_t)

sysnet_dns_name_resolve(commercium_t)
corenet_all_recvfrom_unlabeled(commercium_t)

allow commercium_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(commercium_t)
corenet_tcp_sendrecv_generic_node(commercium_t)
corenet_tcp_sendrecv_all_ports(commercium_t)
corenet_tcp_bind_generic_node(commercium_t)

gen_require(`
    type commercium_port_t;
')
allow commercium_t commercium_port_t:tcp_socket name_bind;

gen_require(`
    type commercium_port_t;
')
allow commercium_t commercium_port_t:tcp_socket name_connect;

domain_use_interactive_fds(commercium_t)

files_read_etc_files(commercium_t)

miscfiles_read_localization(commercium_t)

sysnet_dns_name_resolve(commercium_t)

allow commercium_t commercium_exec_t:file execute_no_trans;
allow commercium_t self:process setsched;
corecmd_exec_ls(commercium_t)
corenet_tcp_connect_http_port(commercium_t)
dev_read_urand(commercium_t)
fs_getattr_xattr_fs(commercium_t)
kernel_read_system_state(commercium_t)
